.row.top-margin.ta-center
  .padded_section
    h1
        i.fa.fa-lock(style="color: #6c6b86;")
    .descr(ng-hide='link')
        p
            a(ng-click='showForWhat = !showForWhat') {{ 'secret.for_what' | translate}}&nbsp;
            span(ng-show='showForWhat' translate='secret.for_what_explain')
            br
            a(ng-click='showHowTo = !showHowTo') {{ 'secret.how_to' | translate}}&nbsp;
            span(ng-show='showHowTo' translate='secret.how_to_explain')
    div(ng-show='link')
        p(ng-hide='account' translate="secret.linkInstructionsNoTarget")
        p(ng-show='account && provider=="twitter"' translate='secret.linkInstructionsTwitter')
    .top-margin(ng-hide='link')
        textarea(ng-model='text', allow-text-select, placeholder="{{ 'secret.textPlaceholder' | translate }}")
        div
            div.send-secret-providers
                button(ng-click="provider = 'twitter'", ng-class="{ secondary: provider != 'twitter' }", ng-disabled='sending' title='Twitter')
                    i.fa.fa-twitter
                button(ng-click="provider = 'instagram'", ng-class="{ secondary: provider != 'instagram' }", ng-disabled='sending' title='Instagram')
                    i.fa.fa-instagram
            div.send-secret-account
                input(type='text' ng-model='account', placeholder="{{ 'secret.accountPlaceholder' | translate }}{{provider}}")
        .title(translate='secret.secretLifetime')
        .durations
            button(ng-repeat='duration in durations', 
                ng-click="setExpires(duration.seconds)", 
                ng-class="{ secondary: expiresSec != duration.seconds }", ng-disabled='sending')
                | {{ duration.name | translate}}
        .title(ng-show='sendNotice')
           i.fa.fa-exclamation-triangle &nbsp;
           | {{ sendNotice | translate }}
        button(ng-click="send()", ng-disabled='sending')
            | {{ 'secret.sendMessage' | translate}}
    div(ng-show='link')
        textarea(ng-model='publicMsg' 
            style="height: 60px;"
            onfocus="this.select()")
        div(ng-show="account && provider=='instagram'")
                | {{'secret.linkInstructionsInstagram' | translate }}
        .share-secret(
            ng-show="account && provider=='twitter'"
            ng-social-buttons='', data-url='link', data-title="tweetMsg")
            li.ng-social-twitter
                button
                    i.fa.fa-twitter
                    | &nbsp;Твитнуть для {{ formattedAccount }}
